# Aggregate API project 


## Provenance

* New May 2023 - after chat with David Wright

In [48]:
import requests
import json
from aggregate import build, qd, Aggregate, Distortion, Portfolio

time: 0 ns (started: 2023-05-18 16:58:17 +01:00)

In [47]:
# Define the url.
url = 'http://192.168.4.43:1964/price'
# url = 'http://localhost:1964/price'

# Define the JSON payload.
payload = { 'agg' : {'name': 'Steve_Agg', 
                     'sev_mean': 1200,
                     'sev_cv': 2.5,
                     'freq_name': 'poisson',
                     # 'freq_a': .24
                    },
           'distortion': {'name': 'wang', 'shape': 1.2, 'display_name': 'Wang12'}, 
           'pricing': {'percentile': 0.996}
          }

# Convert dictionary into json format
json_payload = json.dumps(payload)

# Set Content-Type to application/json
headers = {
    'Content-Type': 'application/json'
}

# Make the request.
response = requests.post(url, data=json_payload, headers=headers)

# Print the status code and response body.
print(f"Status Code: {response.status_code}")
print(f"Response Body: {response.text}")

if response.status_code == 200:
    d = response.json()
    df = pd.DataFrame.from_dict(json.loads(d['result']))
    display(df)

Status Code: 200
Response Body: {
  "result": "{\"L\":{\"Steve_Agg\":10806.4919282963},\"P\":{\"Steve_Agg\":19560.1570862737},\"M\":{\"Steve_Agg\":8753.6651579775},\"Q\":{\"Steve_Agg\":14545.8429137263},\"a\":{\"Steve_Agg\":34106.0},\"LR\":{\"Steve_Agg\":0.5524747005},\"PQ\":{\"Steve_Agg\":1.3447248951},\"ROE\":{\"Steve_Agg\":0.6017984114}}"
}

                 L        P       M        Q        a        LR     PQ       ROE
Steve_Agg  10.806k  19.560k  8.754k  14.546k  34.106k  552.475m  1.345  601.798m

time: 2.73 s (started: 2023-05-18 16:57:18 +01:00)

In [55]:
a = build('agg DRDR dfreq [1:6] dsev [1:6]')

time: 32 ms (started: 2023-05-18 17:04:23 +01:00)

In [57]:
a.describe

        E[X]  Est E[X]  Err E[X]     CV(X)  Est CV(X)  Err CV(X)   Skew(X)  Est Skew(X)
X
Freq   3.500       NaN       NaN  487.950m        NaN        NaN     0.000          NaN
Sev    3.500     3.500     0.000  487.950m   487.950m  -333.067a     0.000       2.853f
Agg   12.250    12.250    1.554f  553.283m   553.283m    23.093f  286.888m     286.888m

time: 16 ms (started: 2023-05-18 17:04:35 +01:00)

In [74]:
url = 'http://192.168.4.43:1964/decl'

# Define the JSON payload.
payload = { 'decl' : [
    "agg HDRDR dfreq [1:3] dsev [1:6]",
    "agg DRDR dfreq [1:6] dsev [1:6]"
        ]
          }

# Convert dictionary into json format
json_payload = json.dumps(payload)

# Make the request.
response = requests.post(url, data=json_payload, headers=headers)

# Print the status code and response body.
print(f"Status Code: {response.status_code}")

if response.status_code == 200:
    d = json.loads(response.json()['result'])
    for k, v in d.items():
        print(k)
        display(pd.DataFrame.from_dict(json.loads(v)))
        print()
else:
    print(f"Response Body: {response.text}")

Status Code: 200
agg HDRDR dfreq [1:3] dsev [1:6]

       E[X]  Est E[X]  Err E[X]     CV(X)  Est CV(X)  Err CV(X)   Skew(X)  Est Skew(X)
Freq  2.000       NaN       NaN  408.248m        NaN        NaN     0.000          NaN
Sev   3.500     3.500     0.000  487.950m   487.950m  -333.067a     0.000        0.000
Agg   7.000     7.000 -222.045a  534.522m   534.522m   666.134a  389.756m     389.756m

agg DRDR dfreq [1:6] dsev [1:6]

        E[X]  Est E[X]  Err E[X]     CV(X)  Est CV(X)  Err CV(X)   Skew(X)  Est Skew(X)
Freq   3.500       NaN       NaN  487.950m        NaN        NaN     0.000          NaN
Sev    3.500     3.500     0.000  487.950m   487.950m  -333.067a     0.000        0.000
Agg   12.250    12.250     0.000  553.283m   553.283m      0.000  286.888m     286.888m

time: 78 ms (started: 2023-05-18 17:11:03 +01:00)